body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionOne{

    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    
}

.sectionOne img {

   width: 40px;

}


.sectionTwo {

    background-color: #aa0404;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 80rem;
    padding:8px;
    margin: 2px;
    
}

.sectionTwo span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: chartreuse; */
    width: 9rem;
    padding: 4px;
    font-size: 14px;
    height: 15px;
}

.sectionTwo span svg {

    width: 13px;
    fill: white;
    stroke: white;
} 

.sectionThree {

    /* background-color: aqua; */
    height: 350px;
    width: 81rem;
    display: flex;
    justify-content: space-between;
    padding: 4px;

}

.sectionThree .presidentImg {

    background-color: brown;
    width: 600px;
}

.presidentImg img {

    width: 670px;
}

.sideBar {

    background-color: rgb(184, 187, 187);
    width: 400px;
    /* margin-right: 200px; */
}

.parentDiv{

    /* background-color: rgb(2, 2, 54); */
    width: 81rem;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.childDiv {

    /* background-color: rgb(222, 245, 245); */
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.childDiv span {
 
    /* background-color: aqua; */
    width: 340px;
    cursor: pointer;
    border-bottom: 1px solid rgb(182, 179, 179);
    

}

.childDiv span :hover {

    color: red;
    text-decoration: underline;
}

.childDiv h3 {

    display: flex;
    /* background-color: aqua; */
    width: 340px;
    padding: 5px;
    border-bottom: 4px solid #aa0404;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.presidentImage {

    /* background-color: #aa0404; */
    width: 340px;
    display: flex;
    flex-direction: column;

    
}

.presidentImageBar img{

    width: 260px;
    
}

.presidentImage p {

    background-color: rgb(172, 166, 166);
    text-align: center;
    padding: 5px;
    width: 250px;
    height: 50px;
    
}

.middleDiv {

    /* background-color: gray; */
    width: 35rem;
    display: flex;
    flex-direction: column;
}

.middleDiv span {

    /* background-color: antiquewhite; */
    margin: 2px;
    padding: 2px;
    font-size: 1.0rem;
    cursor: pointer;
}

.middleDiv span p {

    color: gray;
}

.middleDiv span p b{

    font-weight: 900;
}

.middleDiv h3 {

    height: 30px;
    text-align: start;
    border-bottom: 4px solid #aa0404;
}
.middleDiv span :hover {

    color: red;
    text-decoration: underline;
}

.sectionFour {

    /* background-color: aquamarine; */
    width: 80rem;
    height: 30rem;
    display: flex;
    justify-content: center
}

.sectionFour div {
    /* background-color: antiquewhite; */
    width: 40rem;
    height: 27rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionFour div img {

    width: 530px;
    border-radius: 10px;
    

}

.sectionFour div p {

    background-color: rgb(214, 213, 216);
    height: 150px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #aa0404;
    cursor: pointer;
    
}
 
.sectionFour div svg {

    width: 3.5rem;
    margin: 10px;
    fill: gray;
    height: 4rem;
}

.baseline img {

    width: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.baseline {

    display: flex;
    flex-direction: column;
}

.baseline div {
    width: 80rem;
    height: 20rem;
    background-color: rgb(10, 10, 53);
    display: flex;
    justify-content: space-between;
}

.baseline div span {

    color: white;
    /* background-color: brown; */
    padding: 20px;
    width: 19rem;
    font-size: 1.2rem;
}

.baseline div span svg {

    width: 10px;
    margin: 5px;
    fill:white;
}

.baseline div span p {

    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

